name: AWS OIDC Test

on:
  push:
    branches:
      - master

permissions:
  id-token: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::320478019480:role/role-for-test
          aws-region: ap-south-1

      - name: Verify identity
        run: aws sts get-caller-identity
